#div-form {
    display:flex;
    justify-content: center;
}

#div-form form {
    width: 500px;
}

#div-form form div {
    margin: auto;
}

.val-name {
    color: #da0606;
    display: none;
}

.img-container {
    width: 100%;;
    max-height: 250px;
    overflow: hidden;
}

.card-container {
    width: 300px;
}

.img-containerProduct {
    max-height: 500px;
    border-radius: 20px;
}