#footer {
    display: block;
}

.logo {
    height: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.logo .logo-img {
    max-width: 100%;
    height: auto;
}

.sm-icons {
    float: right;
}

.sm-icons .nav-link {
    padding: 1em;
    font-size: 30px;
    flex-direction: row;
}

.sm-icons .mb-2 {
    flex-direction: column;
}